@model LoginUser
<h1>Login</h1>
<form asp-action="Login" asp-controller="Home" method="post">
    <div>
        <label asp-for="LoginEmail">Email:</label>
        <input asp-for="LoginEmail" type="text">
        <span asp-validation-for="LoginEmail"></span>
    </div>
        <div>
        <label asp-for="LoginPassword">Password:</label>
        <input asp-for="LoginPassword" type="password">
    </div>
    <input type="submit" value="Login" class="btn btn-primary">
</form>