@model Wedding
<h1>Plan Your Wedding</h1>
<div>
    <a asp-action="Dashboard" asp-controller="Home">Dashboard</a>
    <a asp-action="Logout" asp-controller="Home">Logout</a>
</div>
<form asp-action="CreateWedding" asp-controller="Home">
    <div>
        <label asp-for="WedderOne">Wedder One:</label>
        <input asp-for="WedderOne" type="text">
        <span asp-validation-for="WedderOne"></span>
    </div>
    <div>
        <label asp-for="WedderTwo">Wedder Two:</label>
        <input asp-for="WedderTwo" type="text">
        <span asp-validation-for="WedderTwo"></span>
    </div>
    <div>
        <label asp-for="Date">Date:</label>
        <input asp-for="Date" type="date">
        <span asp-validation-for="Date"></span>
    </div>
    <div>
        <label asp-for="Address">Address:</label>
        <input asp-for="Address" type="text">
        <span asp-validation-for="Address"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Create">
</form>